/*----------------------------------*\
    Footer
\*----------------------------------*/
footer{
	background-color: $color-white;
	border-top: solid 1px $color-grey;
	border-bottom: solid 1px $color-grey;
	.mobile-reverse{
		@media #{$extra-small-and-down} {
			-webkit-flex-direction: column-reverse;
		 					flex-direction: column-reverse;
		}
	}
	.second{
		@media #{$extra-small-and-down} {
			display: none;
		}
	}
	h4{
		font-weight: 400;
	}
	nav{
		a{
			padding: 10px 15px;
			display: block;
			font-size: 20px;
			width: auto;
			&:hover{
				background-color: $color-grey-light;
			}
		}

	}
}
.piskotki{
	@media #{$small-and-up} {
		display: none;
	}
}
