/*----------------------------------*\
    Footer
\*----------------------------------*/
footer{
	background-color: $color-white;
	border-top: solid 1px $color-grey;
	border-bottom: solid 1px $color-grey;
	.first{
		-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
	}
	.second{
		-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
	}
	h4{
		font-weight: 400;
	}
	nav{
		a{
			padding: 10px 15px;
			display: block;
			font-size: 20px;
			width: auto;
			&:hover{
				background-color: $color-grey-light;
			}
		}

	}
}
