/*----------------------------------*\
    Header
\*----------------------------------*/
header {
  img{
    height:90px;
  }
  h2, h3{
    font-weight: normal;
  }
  nav{
    width: 100%;
    border-top: solid 2px $color-grey-dark;
    border-bottom: solid 2px $color-grey-dark;
    a{
      padding: 20px 25px;
      font-size: 18px;
      @include transition(0.2s ease-out);
      &:hover{
        background-color: darken($color-grey-light, 10%);
      }
      &.active{
        background-color: $color-grey-darker;
        color: $color-red;
      }
    }
  }
}
