html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: 1;
	overflow-x: hidden;
	margin: 0;
	font-size: 14px;
	font-family: $font-primary;
  color: $color-grey-darker;
  background-color: $color-grey-lighter;
	line-height: 1.6;
  @media #{$medium-and-down} {
    padding-top: 70px;
  }
  @media #{$extra2-small-and-down}{
    padding-top: 112px;
  }
}
section {
	position: relative;
}
nav{
  width: 100%;
  ul{
    list-style-type: none;
    padding-left:0;
  }
}
iframe {
  border: 0;
}
main {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  color: $color-blue-dark;
  li{
    font-size: 24px;
    p{
      font-size: 16px;
      color: $color-grey-darker;
    }
  }
}
li {
  display: list-item;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
i {
	font-weight: $normal;
}
blockquote {
  margin: 0;
  padding: 0;
}
sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
strong {
  font-weight: bold;
}
figure {
  margin: 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
form {
	width: 100%;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
p{
  margin: 0 0 10px 0;
  font-size: 16px;
}
.overflow{
  overflow:visible;
}
.storitve{
  padding-left: 60px !important;
  padding-right: 60px !important;
  @media #{$extra2-small-and-down}{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
