<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-blue-dark">Euroservis Avto Rožnik d.o.o.</h3>
        <h4>Na Vovčne 44</h4>
        <h4>1354 Horjul</h4>
        <br>
        <h4>GSM: 041/691-561</h4>
        <h4>tel.: 01/754 93 11</h4>
        <h4>e-pošta:
          <a href="mailto:info@avtoroznik.si" class="text-blue-dark">info@avtoroznik.si</a>
        </h4>
      </div>
      <div class="col-sm-4">
        <a href="." class="text-blue-light">Domov</a>
        <a href="storitve.html" class="text-blue-light">Storitve</a>
        <a href="prednosti-euroservisa.html" class="text-blue-light">Prednosti Euroservisa</a>
        <a href="partnerji.html" class="text-blue-light">Partnerji</a>
        <a href="akcije.html" class="text-blue-light">akcije</a>
      </div>
      <div class="col-sm-4">  
        <a href="o-podjetju.html" class="text-blue-light">o podjetju</a>
        <a href="kontakt.html" class="text-blue-light">kontakt</a>
        <a href="piskotki.html" class="text-blue-light">piskotki</a>
      </div>
    </div>
  </div>
</footer>
<div class="container pt15 pb15">
  © 2016 Avto Rožnik d.o.o.
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="scripts/main.js"></script>
</body>
</html>
