@@include(markdown('head.html'))
<header>
  <div class="flex flex--align-vertical flex--justify-space-between pr15 pl30 pt15 pb15">
    <div class="flex flex--align-vertical">
      <img src="images/euroservis.png" class="mr15">
      <h2 class="text-uppercase text-blue-light">Avto Roznik</h2>
    </div>
    <div>
      <h2 class="text-blue-light text-right">
        041 691 561
      </h2>
      <div class="flex flex--justify-right">
        <button type="button" class="btn btn--blue-light text-uppercase">Nagradna igra</button>
      </div>
      <h3 class="text-blue-light text-right mt10">Servisiranje in vzdrževanje osebnih in dostavnih vozil</h3>
    </div>
  </div>
  <nav class="flex flex--justify-center">
    <a href="." class="text-uppercase active">Domov</a>
    <a href="storitve.html" class="text-uppercase">storitve</a>
    <a href="prednosti-euroservisa.html" class="text-uppercase">prednosti euroservisa</a>
    <a href="partnerji.html" class="text-uppercase">partnerji</a>
    <a href="akcije.html" class="text-uppercase">akcije</a>
    <a href="o-podjetju.html" class="text-uppercase">o podjetju</a>
    <a href="kontakt.html" class="text-uppercase">kontakt</a>
  </nav>
</header>
