@@include(markdown('_includes/header.html'))

<section class="mb60">
  <div class="container">
    <h1 class="text-center text-blue-light mt20 mb30">Članki</h1>
    <a href="http://4d.rtvslo.si/arhiv/avtomobilnost/174383976">
      <div class="row flex flex--align-vertical clanek">
        <div class="col-md-4 col-sm-6">
          <img src="images/clanek1.png" class="img">
        </div>
        <div class="col-md-8 col-sm-6">
          <h3 class="text-blue-dark">Avtomobilnost</h3>
          <p>
            To je oddaja o avtomobilizmu, pravzaprav kar o mobilnosti v najširšem pomenu besede, saj so ustvarjalci oddaje dolgoletni strokovnjaki z različnih področji prometne mobilnosti. Tudi za to oddaja nosi ime Avtomobilnost, pri gledalcih pa se bo trudila ustvariti status servisno informativne oddaje, ki voznico in voznika na sproščen, moderen in strokovno neoporečen način informira o novostih s področja varnosti, ekologije, tehnologije, avtomobilizma.
          </p>
        </div>
      </div>
    </a>
    <a href="http://www.volan.si/ekstra/tehno-volan/4663-stabilizacijski-sistem---esp/">
      <div class="row flex flex--align-vertical mt30 clanek">
        <div class="col-md-4 col-sm-6">
          <img src="images/clanek2.png" class="img">
        </div>
        <div class="col-md-8 col-sm-6">
          <h3 class="text-blue-dark">Stabilizacijski sistem - ESP</h3>
          <p>
            Profesionalni dirkači ga nočejo, a v svojih dirkalnikih nočejo niti zavornega sistema ABS. Na kakšnem dirkališču bo malo bolj spretne voznike sistem ESP tudi hitro zmotil, ko bo prekinil njihovo željo po kontroliranem zdrsu. V prometu, kjer prostora za napake ni, kjer ni izletnih con in kjer nismo nenehno osredotočeni le na vožnjo, pa je nepogrešljiv.
          </p>
        </div>
      </div>
    </a>
    <a href="http://www.24ur.com/novice/slovenija/zaradi-slabih-cest-trpijo-podvozja.html">
      <div class="row flex flex--align-vertical mt30 clanek">
        <div class="col-md-4 col-sm-6">
          <img src="images/clanek3.png" class="img">
        </div>
        <div class="col-md-8 col-sm-6">
          <h3 class="text-blue-dark">Zaradi slabih cest trpijo podvozja</h3>
          <p>
            Davek slabih državnih cest je vse višji. Vozniki ga občutijo tudi tako, da morajo svoje avtomobile zaradi poškodb podvozja veliko pogosteje voziti k mehaniku kot naši severni sosedje. Življenjska doba podvozij vozil, ki jih vozimo v Sloveniji, je namreč ena najkrajših v Evropi.
          </p>
        </div>
      </div>
    </a>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
