@@include(markdown('_includes/header.html'))

<section class="line--bottom-big">
  <div id="main-slider" class="owl-carousel">
    <div class="item jumbotron">
      <img src="images/slider1.jpg" class="img">
      <div class="jumbotron__content flex flex--justify-center flex--align-vertical">
        <h1 class="slider-text">Avto Rožnik</h1>
      </div>
    </div>
    <div class="item jumbotron">
      <img src="images/slider2.jpg" class="img">
      <div class="jumbotron__content flex flex--justify-center flex--align-vertical">
        <h2 class="text-capitalize slider-text">Servis vozil</h2>
      </div>
    </div>
    <div class="item jumbotron">
      <img src="images/slider3.jpg" class="img">
      <div class="jumbotron__content flex flex--justify-center flex--align-vertical">
        <h2 class="text-capitalize slider-text">Vulkanizerstvo</h2>
      </div>
    </div>
    <div class="item jumbotron">
      <img src="images/slider4.jpg" class="img">
      <div class="jumbotron__content flex flex--justify-center flex--align-vertical">
        <h2 class="text-capitalize slider-text">Avtoelektrika</h2>
      </div>
    </div>
  </div>
</section>
<section class="mt60">
  <div class="container">
    <div class="row mb30 flex flex--justify-center">
      <div class="col-sm-4 flex flex--column">
        <a href="storitve.html" class="card">
          <img src="images/slider2.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">SERVIS VOZIL</h4>
          <p class="pb30 pr15 pl20">
            Servis vozila, ki se opravi na določen termin, glede na število prevoženih kilometrov ali časovni termin kot ga določa proizvajalec.
          </p>
        </a>
      </div>
      <div class="col-sm-4 flex flex--column">
        <a href="storitve.html" class="card">
          <img src="images/slider3.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">VULKANIZERSTVO</h4>
          <p class="pb30 pr15 pl20">
            Menjava pnevmatik, popravilo pnevmatike, balansiranje platišča, popravilo platišča, menjava ventilčka zraka, ventil za nadzor tlaka, ponastavitev nadzora tlaka.
          </p>
        </a>
      </div>
      <div class="col-sm-4 flex flex--column">
        <a href="storitve.html" class="card">
          <img src="images/slider4.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">avtoelektrika</h4>
          <p class="pb30 pr15 pl20">
            Vsa popravila, ki so kakor koli povezana z avto elektriko (inštalacije, krmilniki, releji, senzorji,alternatorji , akumulatorji, zaganjači, sonde, pomiki stekel...
          </p>
        </a>
      </div>
    </div>
    <div class="flex flex--justify-center mb90">
      <a href="storitve.html">
        <button type="button" class="btn btn--blue btn--center">Več storitev</button>
      </a>
    </div>
  </div>
</section>
<section class="jumbotron mb45 mehanik-leta line--bottom-big">
  <div class="mehanik-leta__img">
    <img src="images/mehanik-leta.jpg" class="img">
  </div>
  <div class="jumbotron__content flex flex--justify-center flex--align-vertical">
    <h2 class="text-white text-center">Naj mehanik leta 2015 in 2016</h2>
  </div>
</section>
<section class="pt20 pb45 opinions">
  <div id="opinions" class="owl-carousel">
    <div class="item opinions-item">
      <h3 class="text-center mb20">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum ex sem, a molestie sapien vulputate varius."</h3>
      <h4 class="text-center text-blue-light">Gasper Grom, redna stranka</h4>
    </div>
    <div class="item opinions-item">
      <h3 class="text-center mb20">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum ex sem, a molestie sapien vulputate varius."</h3>
      <h4 class="text-center text-blue-light">Gasper Grom, redna stranka</h4>
    </div>
    <div class="item opinions-item">
      <h3 class="text-center mb20">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum ex sem, a molestie sapien vulputate varius."</h3>
      <h4 class="text-center text-blue-light">Gasper Grom, redna stranka</h4>
    </div>
  </div>
</section>


@@include(markdown('_includes/footer.html'))
