@@include(markdown('_includes/header.html'))

<section class="mb60">
  <div class="container">
    <h1 class="text-blue-light text-center mt20 mb30">Kontakt</h1>
    <div class="row">
      <div class="col-md-4 col-sm-5 flex flex--align-vertical">
        <div class="mb30">
          <h4 class="text-blue-dark">Euroservis Avto Rožnik d.o.o.</h4>
          <h5>Na Vovčne 44</h5>
          <h5>1354 Horjul</h5>
          <br>
          <h5>GSM: 041/691-561</h5>
          <h5>tel.: 01/754 93 11</h5>
          <h5>e-pošta:
            <a href="mailto:info@avtoroznik.si" class="text-blue-dark">info@avtoroznik.si</a>
          </h5>
          <br>
          <h5 class="text-blue-dark">Delovni čas:</h5>
          <h5>8h - 12h</h5>
          <h5>13h - 17h</h5>
          <h5>Sobota,nedelja in prazniki ZAPRTO</h5>
          <br>
          <h5>Matična št.: 5741386</h5>
          <h5>Davčna št.: SI20373023</h5>
          <h5>TRR: NLB 02053-001507253</h5>
        </div>
      </div>
      <div class="col-md-8 col-sm-7">
        <a href="https://goo.gl/maps/MdxKGQhZS832" target="_blank">
          <img src="images/map.png" class="img line--border-thin">
        </a>
      </div>
    </div>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
