@@include(markdown('_includes/header.html'))

<section class="mt20 mb60">
  <div class="container">
    <h1 class="text-center text-blue-dark mb30">O Podjetju</h1>
    <div class="row mb30">
      <div class="col-md-8 col-sm-6 flex flex--align-vertical">
        <p>
          Podjetje Avto Rožnik d.o.o. je bilo ustanovljeno leta 1993 kot  nadaljevanje družinske tradicije. V prvih letih delovanja smo se dejavnosti posvečali večinoma v mali delavnici in na terenu na takrat najbolj razširjenih vozilih Zastava, Lada, Fiat in VW. Ker se je v tem           času slovenski vozni park začel zelo korenito spreminjati, smo se temu hitro prilagajali in dejavnost razširili na nove znamke francoskega, nemškega pa tudi korejskega ter japonskega porekla. Nove zahteve teh vozil so nas pripeljale do selitve v nove prostore v katerih delujemo od avgusta 1997. Z dokupovanjem nove tehnološke opreme je servisna delavnica sedaj <span class="text-blue-dark"><b>sodobno opremljena in podprta z računalniško opremo</b></span> za opravljanje popravil vseh vrst osebnih in dostavnih motornih vozil.
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="images/podjetje1.jpg" class="img">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-6 flex flex--align-vertical">
        <p>
          Naši uslužbenci se redno izpopolnjujejo z najnovejšimi metodami vzdrževanja motornih vozil, zato so kos vsem težavam na vaših vozilih. V letu 2011 smo se pridružili evropskemu združenju avtoserviserjev <span class="text-blue-dark"><b>Euroservis</b></span>, kjer pridobivamo znanje in podatke za kvalitetno popravljanje najnovejših vozil po navodilih njihovih proizvajalcev. Vključeni pa smo tudi v mrežo <span class="text-blue-dark"><b>Turbo specialist</b></span> preko katere dostopamo do novih in tovarniško obnovljenih turbopolnilnikov originalne kvalitete svetovno znanih izdelovalcev Garrett, BorgWarner, IHI in Mitsubishi. Prav tako imamo preko te mreže dostop do pravilnih postopkov montaže turbopolnilnikov in do tovarniških tehničnih informacij o spremebah le teh.<br><br>Vsa leta se trudimo ostati v stiku s tehnološkim napredkom novih vozil in s tem zagotavljati kvalitetno storitev naše delavnice. Tako bo ostalo še naprej.
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="images/podjetje2.jpg" class="img">
      </div>
    </div>
    <div class="flex flex--justify-center mt45">
      <h3 class="text-blue-dark text-center">Naše največje zadovljstvo je zadovoljna stranka z našimi uslugami.</h3>
    </div>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
