@@include(markdown('_includes/header.html'))

<section class="mb60">
  <div class="container">
    <h1 class="text-blue-light text-center mt20 mb30">Partnerji</h1>
    <h4 class="text-center mb30">
      Na EUROSERVISIH se v vozila vgrajujejo <span class="text-blue-dark"><b>ORIGINALNI rezervni deli oz. rezervni deli enakovredni originalnim.</b></span> Eden izmed osnovnih kriterijev pri izboru potrjenih dobaviteljev za svetovno mrežo EuroGarage je namreč ta, da proizvajalec proizvaja originalne dele za prvo vgradnjo v nove avtomobile in je kot tak nosilec tehnološkega razvoja.
    </h4>
    <img src="images/bosch.png">
    <p class="mb30">
      Največji proizvajalec avtomobilskih delov na svetu. Sodeluje skoraj z vsemi proizvajalci vozil na svetu. Odlikuje ga njegova osredotočenost na kakovost in razvoj novih avtomobilskih delov. Ravno zaradi velikega vlaganja v razvoj so eno vodilnih podjetij na področju usposabljanja serviserjev. Zelo poznani so po svoji mreži Bosch Car Servis, katero odlikujejo zelo visoki standardi usposobljenosti zaposlenih in vgradnja materialov, ki ustrezajo OE kvaliteti ali so kompatibilni z OE kvaliteto.
    </p>
    <img src="images/delphi.png">
    <p class="mb30">
      Podjetje DELPHI je s svetu znano kot eden izmed največjih proizvajalcev vseh vrst avtomobilskih vgradnih delov, ki jih dobavlja vsem avtomobilskim tovarnam po svetu. Njihovi najpomembnejši programi, ki jih naše podjetje zastopa na slovenskem trgu so: zavorni sistemi, hidravlika in podvozje.
    </p>
    <img src="images/valeo.png">
    <p class="mb30">
      Valeo je prvi dobavitelj sklopk na svetu za proizvajalce originalne opreme osebnih vozil. Sklopke Valeo so zasnovane in proizvedene po standardih OE, njihov glavni cilj pa je ponuditi najkvalitetnejše sklopke na trgu, zato lahko pričakujete dolgotrajno in kvalitetno delovanje njihovih izdelkov. Kot eden glavnih proizvajalcev kabinskih sistemov so razvili tudi ponudbo kabinskih filtrov, ki izstopajo po svoji zelo kakovostni izdelavi in zelo majhni propustnosti umazanije v potniški prostor.
    </p>
    <img src="images/skf.png">
    <p class="mb30">
      Podjetje SKF ustanovljeno leta 1907. Danes je podjetje prisotno na vseh celinah sveta in je zastopano v 130 državah. Je tudi vodilni svetovni dobavitelj izdelkov, rešitev in storitev na področju ležajev, tesnil, mehatronike in mazalnih sistemov. Storitve podjetja vključujejo kvalitetno tehnično podporo, vzdrževanje, spremljanje stanja in usposabljanja. Na Evropskem trgu je SKF znan kot največji proizvajalec kolesnih ležajev v avtomobilski industriji.
    </p>
    <img src="images/sachs.png">
    <p class="mb30">
      Sachs, vodilni evropski proizvajalec sklopk za prvo vgradnjo, deluje v krogu skupine ZF. V svojem modernem razvojnem centru razvijajo sklopke in dele prenosnega mehanizma za večino proizvajalcev motornih vozil vseh razredov, od osebnih in tovornih vozil do Formule 1. Sklopke SACHS dosegajo in presegajo specifikacije za prvo vgradnjo v vozila. Kot dolgoletni dobavitelj delov za prvo vgradnjo podjetje SACHS uporablja le najkakovostnejše sestavne dele in obloge brez azbesta. Da bi dosegli prvotno stanje pri obnovi vašega vozila, ponuja SACHS zaključene garniture sklopk, ki omogočajo celostno zamenjavo na en mah. Sklopka predstavlja pomemben del varnostni vašega vozila. Sklopke SACHS jamčijo gladko prestavljanje in zanesljiv prenos moči. Zasnovane so tako, da prenašajo najtežje obremenitve in tako zagotavljajo dolg rok uporabe.
    </p>
    <img src="images/mahle.png">
    <p class="mb30">
      Kljub razširjenemu mnenju, da so filtri različnih proizvajalcev med seboj enaki, so to le na pogled. Bistveno se razlikujejo predvsem po kakovosti. Uporaba Mahle filtrov zagotavlja dolgotrajno delovanje motorja brez težav z njegovimi vitalnimi deli. Škoda, ki jo lahko povzroči uporaba nekvalitetnega filtra, je lahko nekaj desetkrat večja od vsote, ki smo jo prihranili ob nakupu cenenega, pri čemer se moramo zavedati, da sodijo filtri med cenejši potrošni material. Kvaliteto filtrov zaznajo tudi potniki, saj je zrak v kabini avtomobila opremljenega z Mahle kabinskim filtrom čistejši in prijetnejši. Za še večje udobje priporočamo uporabo filtrov s slojem aktivnega oglja, ki odstrani tudi neprijetne vonjave iz okolja. Vgradnja Mahle filtra je v skladu z uredbo o skupinskih izjemah popolnoma enakovredna vgradnji originalnega nadomestnega dela. Našim kupcem to omogoča zadovoljiti zahteve vzdrževanja vseh avtomobilov, tako starejših, kot novejših, ki so še v garanciji.
    </p>
    <div class="flex flex--justify-center pt45">
      <div class="col-sm-8">
        <img src="images/partnerji.png" class="img">
      </div>
    </div>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
