@@include(markdown('_includes/header.html'))

<section class="mb60">
  <div class="container">
    <h1 class="text-center text-blue-light mt20 mb30">Piškotki</h1>
    <h2 class="text-blue-dark">Varstvo osebnih podatkov</h2>
    <p>
      Avto Rožnik d.o.o. vse preko spletne strani posredovane osebne podatke varuje v skladu z veljavno zakonodajo. Vse posredovane osebne podatke obravnavamo strogo zaupno in le za namen, za katerega so nam bili posredovani.
    </p>
    <h4 class="text-blue-light">Odgovornost</h4>
    <p>
      Naše spletne strani so narejene in vzdrževane z največjo možno mero skrbnosti. Ne glede na to Avto Rožnik d.o.o. ne jamči za pravilnost, ažurnost ali popolnost vseh informacij na spletnih straneh. Avto Rožnik d.o.o. tako ni odgovoren za občasno nedelovanje strani, morebitno nepravilnost informacij in tudi ne za morebitno škodo nastalo zaradi uporabe nepravilnih, neažurnih ali nepopolnih informacij. Avto Rožnik d.o.o. niti katerakoli pravna ali fizična oseba, ki je sodelovala pri nastanku vsebine spletnih strani, ne odgovarja za nobeno škodo, ki bi izhajala iz dostopa, uporabe ali nemožnosti uporabe informacij na teh spletnih straneh ali za kakršnekoli napake ter pomanjkljivosti v njihovi vsebini.
    </p>
    <h4 class="text-blue-light">Avtorske pravice</h4>
    <p>
      Celotna vsebina teh spletnih strani je zaščitena kot avtorsko delo ali druga oblika intelektualne lastnine. Vse avtorske in druge pravice intelektualne lastnine pripadajo Avto Rožnik d.o.o.. Uporabnike obveščamo, da se dokumentov, objavljenih na teh spletnih straneh, ne sme prepisovati, razmnoževati ali kako drugače razširjati v komercialne namene brez izrecnega pisnega dovoljenja Avto Rožnik d.o.o..
    </p>
    <h4 class="text-blue-light">Blagovne znamke</h4>
    <p>
      Blagovne znamke, trgovska imena ali imena podjetij, ki so tu navedena so blagovne znamke ali registrirane blagovne znamke teh lastnikov.
    </p>
    <h4 class="text-blue-light">Povezave z drugimi spletnimi stranmi in vsebina dostopna prek teh strani</h4>
    <p>
      Naša spletna stran lahko vsebuje povezave do drugih spletnih strani, katerih varovanje podatkov je lahko drugačno od naše. Pri povezovanju z njimi morajo obiskovalci preveriti njihovo politiko zasebnosti objavljeno na njihovih straneh.
    </p>
    <h4 class="text-blue-light">Sprememba politike varovanja podatkov</h4>
    <p>
      Avto Rožnik d.o.o. lahko občasno spremeni politiko varovanja podatkov. Če se bo politika spremenila, bomo spremenjeno izjavo objavili tu in posodobili datum zadnje spremembe. Če imate kakršno koli vprašanje v zvezi s to politiko varovanja podatkov ali pa bi radi več informacij o naših ukrepih glede zasebnosti, se obrnite na nas preko naše strani <a href="kontakt.html" class="text-blue-dark">Kontakt</a>.
    </p>
    <p>Datum zadnje spremembe: 20. junij 2016</p>


    <h2 class="text-blue-dark mt30">Piškotki</h2>
    <h4 class="text-blue-light">Kaj je piškotek?</h4>
    <p>
      Piškotek je kratko besedilo, ki ga spletno mesto, ki ga obiščete, pošlje brskalniku. Spletno mesto si lahko z njim zapomni podatke o vašem obisku, na primer izbrani jezik in druge nastavitve. Tako je lahko vaš naslednji obisk istega mesta bolj uporaben in lažji. Piškotki imajo pomembno vlogo. Uporaba spleta bi bila brez njih znatno manj prijetna. Več informacij o piškotkih najdete tukaj.
    </p>
    <h4 class="text-blue-light">Katere piškotke uporabljamo na naši spletni strani?</h4>
    <p>
      Naša spletna stran uporablja samo nujno potreben začasni sejni piškotek, ki se samodejno izbriše, ko zapustite našo spletno stran.
    </p>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
