@@include(markdown('_includes/header.html'))

<section class="mb60">
  <div class="container">
    <h1 class="text-blue-light text-center mt20 mb30">Avtoservisna mreža Euroservis</h1>
    <div class="row">
      <div class="col-md-8 col-sm-7 flex flex--align-vertical">
        <p class="mb0">
          Avtoservisna mreža EUROSERVIS je del globalne svetovne mreže EUROGARAGE, ki jo trenutno predstavlja 4000 servisov širom Evrope ter Južne Amerike. Slovensko mrežo sestavlja skupina neodvisnih servisov, ki so bili skrbno izbrani na podlagi njihovega preteklega dobrega dela in v skladu s kriteriji celotne svetovne mreže.
        </p>
      </div>
      <div class="col-md-4 col-sm-5 flex flex--align-vertical">
        <img src="images/euroservis.png" class="img pr30 pl30">
      </div>
    </div>
    <div class="row mt30 mb30">
      <div class="col-sm-12">
        <p><b class="text-blue-dark">Kvalitetna avtoservisna storitev za prijazno ceno</b> je naš slogan in vodilo. Zagotavljamo ga z:</p>
        <ul>
          <li>
            <p class="mb0">Mrežo servisov po vsej Sloveniji,</p>
          </li>
          <li>
            <p class="mb0">Strokovno usposobljenim kadrom,</p>
          </li>
          <li>
            <p class="mb0">Vrhunsko opremljenimi servisnimi delavnicami,</p>
          </li>
          <li>
            <p class="mb0">Vgradnjo rezervnih delov originalne kvalitete in</p>
          </li>
          <li>
            <p class="mb0">Poštenim odnosom do strank.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="mb15">Kakšne so torej naše prednosti?</h4>
        <ol>
          <li>
            <p>
              <span class="text-blue-dark"><b>NIŽJE CENE SERVISIRANJA</b></span>, saj vam vozila ni potrebno servisirati na pooblaščenih servisih, katerih storitve so praviloma dražje,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>ZAGOTOVLJENA GARANCIJA PROIZVAJALCA VOZILA</b></span>, saj vam kljub izbiri Euroservis-a le-ta ne preneha veljati,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>VGRADNJA ORIGINALNIH REZERVNIH DELOV PO NIŽJIH CENAH</b></span>, saj dobavitelji rezervnih delov prve vgradnje lahko zdaj tudi samostojno nastopajo na trgu s svojimi blagovnimi znamkami in ne pod imenom precenjenih blagovnih znamk proizvajalcev avtomobilov,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>HITRA STORITEV</b></span>, saj so Euroservis-i vključeni v distribucijsko mrežo rezervnih delov GroupAuto International, ki servise na dnevni bazi zalagajo s potrebnimi avtodeli,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>USPOSOBLJENI SERVISERJI IN TEHNOLOŠKO OPREMLJENE DELAVNICE</b></span>, saj morajo Euroservisi izpolnjevati predpisane kvalitativne kriterije,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>ENOLETNO JAMSTVO NA KUPLJENE REZERVNE DELE IN OPRAVLJENE EuroServis-ne STORITVE</b></span>, saj smo prepričani v njihovo kakovost,
            </p>
          </li>
          <li>
            <p>
              <span class="text-blue-dark"><b>SERVIS V BLIŽINI VAŠEGA DOMA</b></span>, saj lahko izbirate med Euroservis-i iz različnih regij Slovenije.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <div class="row mt45">
      <div class="col-sm-12">
        <p>
          Na odločitev, da v Slovenijo pripeljemo ta avtoservisni koncept, je možno vplivala Uredba o skupinskih izjemah (USI) 1400/2002/EC, ki je začela veljati 1. oktobra 2002 in leta 2010 vključila še dodatna določila. Uredba je zakonodajni okvir za distribucijo motornih vozil in njihovo servisiranje. Prav tako vsebuje pomembne določbe za avtomobilski poprodajni trg. Cilj USI je ustvariti večjo konkurenco tako na prodajnih in servisnih trgih kot tudi na trgih za dobavo rezervnih delov. Evropska komisija tako želi ohraniti pravico voznikov, da imajo pravico svoja vozila servisirati, vzdrževati in popravljati v servisnih delavnicah po lastni izbiri in po konkurenčnih cenah. To pomeni, da vozil v garancijskem roku ni nujno potrebno servisirati le v pooblaščenih servisih.
        </p>
        <p class="mt30">
          V Sloveniji se avtoservisna dejavnost deli na 2 sistemska sklopa. Prvi so pooblaščeni servisi proizvajalcev vozil, drugi pa neodvisni mehaniki. Mreža EUROSERVIS pa je edinstven koncept, ki vam ponuja le najboljše lastnosti obeh zgornjih sklopov: <span class="text-blue-dark"><b>vrhunsko vzdrževanje in popravila vašega vozila po prijazni ceni.</b></span>
        </p>
      </div>
    </div>
  </div>
</section>

@@include(markdown('_includes/footer.html'))
