@@include(markdown('_includes/header.html'))

<section class="container mt20 mb30">
  <h1 class="text-blue-light text-center mb20">Storitve</h1>
  <h4 class="text-center">Vzdrževanje in popravljanje vozil je odgovorno in zahtevno delo. Zato smo v Euroservisih usposobljeni za širok spekter avtoservisnih storitev, za katere se redno izobražujemo tako doma kot v tujini.</h4>
</section>
<section>
  <div class="storitve container">
    <div id="storitve" class="owl-carousel flex">
      <div class="item flex">
        <div class="card">
          <img src="images/storitve1.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Redni servis</h4>
          <p class="pb10 pr15 pl20">
            servis vozila, ki se opravi na določen termin, glede na število prevoženih kilometrov ali časovni termin kot ga določa proizvajalec.
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve2.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Hitri servis</h4>
          <p class="pb10 pr15 pl20">
            hitra menjava hitro dostopnih delov na vozilu: akumulatorjev, olja in filtra olja, žarnic, metlic brisalcev, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve3.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Mehanična popravila</h4>
          <p class="pb10 pr15 pl20">
            menjava zobatega jermena, vodne črpalke, sklopke, vztrajnika, popravila motorjev in menjalnikov, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve4.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Izpušni sistemi</h4>
          <p class="pb10 pr15 pl20">
            popravila in menjava izpušnih loncev, cevi, gibljivih cevi, katalizatorjev, lambda sond, DPF filtrov in meritev izpušnih plinov, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve5.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Diagnostika vozil</h4>
          <p class="pb10 pr15 pl20">
            iskanje napak na vozilu, tako elektronskih kot mehanskih napak s pomočjo testerjev in specialnih orodij ter fizičnega pregleda vozila, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve6.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Klimatski sistemi</h4>
          <p class="pb10 pr15 pl20">
            popravila ali zamenjava kompresorjev, zamenjava kondenzatorjev, uparjalnikov in grelcev kabine, čiščenje in dezinfekcija klimatskega sistema, zamenjava sušilnega filtra, iskanje mesta, kjer pušča plin in polnjenje sistema s plinom...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve7.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Avtoelektrična popravila</h4>
          <p class="pb10 pr15 pl20">
            vsa popravila, ki so kakorkoli povezana z avtoelektriko kot so inštalacije, krmilniki, releji, senzorji, sonde, alternatorji, zaganjači, akumulatorji, pomiki stekel, centralna zaklepanja, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve8.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Svetila</h4>
          <p class="pb10 pr15 pl20">
            menjava žarnic v vozilu, menjava relejev za osvetlitev, menjava in nastavitev Xenon žarometov,  menjava Xenon žarnic D1R, D1S, D2R, D2S, D3S, D4R in D4S, menjava transformatorjev za Xenon žaromete, menjava konektorjev žarnic, popravilo in menjava električnih inštalacij za osvetlitev.
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve9.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Zavorni sistemi</h4>
          <p class="pb10 pr15 pl20">
            menjava zavornih oblog, diskov, čeljusti, cilindrov, zavornih cevi, odprava napak na ABS in ESP sistemih, zavornih servo ojačevalnikih, test zavor, …
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve10.png" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Vzmetenje in podvozje</h4>
          <p class="pb10 pr15 pl20">
            menjava iztrošenih delov kot so končniki in vzvodi končnikov volana, nihajne roke in vilice ter njihove ležajne puše in zglobi, končniki in ležajne puše stabilizatorjev, amortizerji, vzmeti, oporni ležaji vzmeti, nosilci motorja in menjalnika, polosi in njihovi zglobi ter manšete, …
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve11.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Vulkanizerstvo</h4>
          <p class="pb10 pr15 pl20">
            prodaja in menjava pnevmatik in platišč, popravilo pnevmatik, balansiranje koles, popravilo platišč, menjava ventila za nadzor tlaka, ponastavitev nadzora tlaka, ...
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve12.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Avtooptika</h4>
          <p class="pb10 pr15 pl20">
            pregled in nastavitev pravilnih nagibov in stekov koles v izogib pospešene obrabe pnevmatik in delov podvozja.
          </p>
        </div>
      </div>
      <div class="item flex">
        <div class="card">
          <img src="images/storitve13.jpg" class="img">
          <h4 class="text-blue-dark text-uppercase mt15 mb10 pr15 pl20">Karoserijska popravila</h4>
          <p class="pb10 pr15 pl20">
            odprava poškodb pločevine in laka, zamenjava karoserijskih delov, menjava stekel, …
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt30 mb60">
  <div class="container">
    <h4 class="text-center">
      Vsaka stranka lahko v Euroservisu dobi SERVISNO KNJIŽICO, v katero se vpisujejo redni in izredni posegi na vozilu.Ker smo prepričani v kakovost storitev in rezervnih delov, ki jih pri servisiranju vgrajujemo v vozila, vam za popravila nudimo enoletno jamstvo. Pogoj je originalen račun z navedbo popravila in potrjen vpis v servisno knjigo.
    </h4>
  </div>
</section>
@@include(markdown('_includes/footer.html'))
